@import "mixins";
@import "variables";

:host {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}

.logo {
  width: 24px;
  height: 24px;
  margin-right: 9px;
  border: 1px solid $color-border;
  border-radius: 2px;
  background-color: $color-white;
  flex: 0 0 auto;
}

.info {
  @include font-stack-main;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 100px;
  width: 100px;
}

.name {
  color: $color-input-title;
  font-size: 14px;
  @include font-stack-main;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
